<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item">
                    <img src="https://scontent.frec5-1.fna.fbcdn.net/v/t39.30808-6/241070324_10225426965037493_5544791969907543928_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeEn_DwcKeXUBxVx4inJxMOSn7W1lcG1KWGftbWVwbUpYXOi5LneTpFRgrE789ezgJU&_nc_ohc=FYuyWFb9OyQAX-US7Xb&_nc_ht=scontent.frec5-1.fna&oh=64f40193628d7ab95792d84b15be46ef&oe=61AD1A8D"
                        alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
                </li>
                <li class="nav-item pl-3">
                    <p class="m-0 font-weight-bold text-white fs-16">Nome do usuárie</p>
                </li>

                <li class="nav-item pl-3">
                    <a href="">
                        <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item pl-3">
                    <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>